SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

PRODUCTION=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=
DB_HOST=

CSRF_TRUSTED_ORIGINS=

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=