amqp==5.3.1
asgiref==3.11.0
asttokens==3.0.1
billiard==4.2.4
celery==5.6.2
celery-types==0.26.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.1
decorator==5.2.1
Django==6.0.3
django-cloudinary-storage==0.3.0
django-debug-toolbar==6.3.0
django-ratelimit==4.1.0
django-sslserver==0.22
django-unfold==0.77.1
django-utils==0.0.2
djangorestframework==3.17.1
executing==2.2.1
gunicorn==25.1.0
idna==3.11
ipython==9.11.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
kombu==5.6.2
matplotlib-inline==0.2.1
packaging==26.0
parso==0.8.6
pexpect==4.9.0
pillow==12.1.1
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
redis==7.4.0
requests==2.33.1
sendgrid==1.4.0
sendgrid-django==1.4.0
six==1.17.0
smtpapi==0.2.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
whitenoise==6.12.0
