Django==6.0.3
asgiref==3.11.0
sqlparse==0.5.5
tzdata==2025.3
psycopg2-binary==2.9.11
python-decouple==3.8
python-dotenv==1.2.1
gunicorn==25.1.0
celery==5.6.2
redis==7.4.0
amqp==5.3.1
billiard==4.2.4
kombu==5.6.2
vine==5.1.0
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
djangorestframework==3.17.1
django-unfold==0.77.1
django-ratelimit==4.1.0
pillow==12.1.1
certifi==2026.2.25











