{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1>Training splits</h1>
        <div class="container d-flex flex-wrap justify-content-center gap-3">
            {% for split in training_splits %}
                <div class="card md-auto mb-3 flex-row " style="width: 18rem;">
                    <div class="card-body d-flex flex-column align-items-center text-center">
                        <h3 class="card-title">{{  split.day }}</h3>
                        <p class="text-card">{{ split.description }}</p>
                        {% for group in split.muscle_group.all %}
                        <li class="card-text">{{ group }}</li>
                        {% endfor %}
                        <a href="{% url 'training:details' split.id %}" class="btn btn-info">View</a>
                    </div>
                </div>
            {% empty %}     
                <p>No training splits yet.</p>
            {% endfor %}
        </div>
    </div>  
{% endblock %}