{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="card text-card w-50 m-auto">
        <div class="card-body">
            <h5 class="card-title text-center">Edit Progress Record</h5>
            <form method="post" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Edit</button>
                    <a href="{% url 'progress:overview' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
