{% load i18n %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'common:home' %}">Fitness Pro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                {% if not request.user.is_staff %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="librariesDropdown" role="button" data-bs-toggle="dropdown">
                        {% trans "Libraries" %}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'nutrition:food-database-list' %}">
                                {% trans "Food Database" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'trainings:exercise-list' %}">
                                {% trans "Exercise Library" %}
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'trainings:list' %}">{% trans "Training Days" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nutrition:nutrition-home' %}">{% trans "Nutrition" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'progress:overview' %}">{% trans "Progress" %}</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            🌐
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ request.get_full_path }}">
                                    <input name="language" type="hidden" value="en">
                                    <button type="submit" class="dropdown-item">
                                        🇬🇧 English
                                    </button>
                                </form>
                            </li>

                            <li>
                                <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ request.get_full_path }}">
                                    <input name="language" type="hidden" value="bg">
                                    <button type="submit" class="dropdown-item">
                                        🇧🇬 Български
                                    </button>
                                </form>
                            </li>

                            <li>
                                <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ request.get_full_path }}">
                                    <input name="language" type="hidden" value="ru">
                                    <button type="submit" class="dropdown-item">
                                        🇷🇺 Русский
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                            {{ request.user.email|truncatechars:20 }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if request.user.is_authenticated and request.user.profile %}
                            <li>
                                <a class="dropdown-item" href="{% url 'accounts:profile-details' request.user.profile.pk %}">
                                    {% trans "Profile" %}
                                </a>
                            </li>
                            {% endif %}

                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form method="post" action="{% url 'accounts:logout' %}" class="dropdown-item p-0">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">{% trans "Logout" %}</button>
                                </form>
                            </li>
                        </ul>
                    </li>

                    {% if request.user.is_staff %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown">
                                {% trans "Admin" %}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'nutrition:food-database-list' %}">
                                        {% trans "Manage Foods" %}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'trainings:exercise-list' %}">
                                        {% trans "Manage Exercises" %}
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="/admin/" target="_blank">
                                        {% trans "Django Admin" %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-light text-nowrap me-1" href="{% url 'accounts:login' %}">{% trans "Login" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success text-white text-nowrap" href="{% url 'accounts:register' %}">{% trans "Sign Up" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

